/* ============ Style 5 ============= */
/* ========== HEADINGS  ========== */
div.p_table h1.col1,
div.p_table h1.col2,
div.p_table h1.col3,
div.p_table h1.col4
	{
	color: #ffffff;
	}
	
div.p_table h1 span
	{
	color: #ffffff;
	}

div.p_table h2.col1,
div.p_table h2.col2,
div.p_table h2.col3,
div.p_table h2.col4
	{
	color: #ffffff;
	}
	
div.p_table h2.caption
	{
	color: #999999;
	}
	
div.p_table h2.caption span
	{
	color: #999999;
	}	
	
div.p_table h3.col1,
div.p_table h3.col2,
div.p_table h3.col3,
div.p_table h3.col4
	{
	color: #ffffff;
	}
	
/* ========== CAPTION COLUMN  ========== */
/* --- header row 1 ---  */
div.p_table div.caption_column li.header_row_1 
	{
	border-top: 0;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
	}
	
/* --- header row 2 ---  */
div.p_table div.caption_column li.header_row_2
	{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
	}

/* ========== COLUMN STYLE 1  ========== */
/* --- header row 1 ---  */
div.p_table div.column_1 li.header_row_1
	{
	border-top: 0;
	border-bottom: 1px solid #52b5d5;
	background-color: #52b5d5;
	}
	
/* --- header row 2 ---  */
div.p_table div.column_1 li.header_row_2
	{
	border-top: 1px solid #64c3de;
	border-bottom: 1px solid #64c3de;
	background-color: #64c3de;
	}
	
/* ========== COLUMN STYLE 2  ========== */
/* --- header row 1 ---  */
div.p_table div.column_2 li.header_row_1
	{
	border-top: 0;
	border-bottom: 1px solid #3591ca;
	background-color: #3591ca;
	}
	
/* --- header row 2 ---  */
div.p_table div.column_2 li.header_row_2
	{
	border-top: 1px solid #44a3d5;
	border-bottom: 1px solid #44a3d5;
	background-color: #44a3d5;
	}
	
/* ========== COLUMN STYLE 3  ========== */
/* --- header row 1 ---  */
div.p_table div.column_3 li.header_row_1
	{
	border-top: 0;
	border-bottom: 1px solid #1f5f9f;
	background-color: #1f5f9f;
	}
	
/* --- header row 2 ---  */
div.p_table div.column_3 li.header_row_2
	{
	border-top: 1px solid #2972b0;
	border-bottom: 1px solid #2972b0;
	background-color: #2972b0;
	}
	
/* ========== COLUMN STYLE 4  ========== */
/* --- header row 1 ---  */
div.p_table div.column_4 li.header_row_1
	{
	border-top: 0;
	border-bottom: 1px solid #1a3e7b;
	background-color: #1a3e7b;
	}
	
/* --- header row 2 ---  */
div.p_table div.column_4 li.header_row_2
	{
	border-top: 1px solid #234e8e;
	border-bottom: 1px solid #234e8e;
	background-color: #234e8e;
	}