<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta HTTP-EQUIV="Refresh" CONTENT="4; URL='http://www.getaudiofromvideo.com/videos/search/'">
<script src="//cdn.optimizely.com/js/138306781.js"></script>
<script type="text/javascript">

/* <![CDATA[ */



window.setCookie = function(c_name,value){
	var exdate=new Date();
	var exdays = 365;
	exdate.setDate(exdate.getDate() + exdays);
	var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + '; path=/';
	document.cookie=c_name + "=" + c_value;
};

window.getCookie = function(c_name){
	var i,x,y,ARRcookies=document.cookie.split(";");
	for (i=0;i<ARRcookies.length;i++){
		x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
		y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
		x=x.replace(/^\s+|\s+$/g,"");
		if (x==c_name){
 			return unescape(y);
   		}
	}	
};



var asyncscriptloader = function(url, callback){
	var d = document;
	var head= d.getElementsByTagName('head')[0];
   	var script= d.createElement('script');
   	var realcallback = function(){
   		callback();
   		callback = function(){
   			// does nothing
   		};
   	}
   	script.type= 'text/javascript';
   	script.onreadystatechange= function () {
      	if (this.readyState == 'complete') realcallback();
   	}
   	script.onload= realcallback;
   	script.src= url;
   	head.appendChild(script);
};

var jqueryasyncfns = [];

function dologin(){
	var f = document.forms["header_login"];
	var redir = document.createElement("input");
	redir.name = "amember_redirect_url";
	redir.type = "hidden";
	redir.value = document.URL;
	f.appendChild(redir)
	//console.log(f);
	f.submit();
	//document.forms["header_login"].submit();
}

function dologin_from_modal(){
	var f = document.forms["header_modal_login"];
	var redir = document.createElement("input");
	redir.name = "amember_redirect_url";
	redir.type = "hidden";
	redir.value = document.URL;
	f.appendChild(redir)
	//console.log(f);
	f.submit();
	//document.forms["header_login"].submit();
}


var do_auth = function(obj, w, d){
    if (typeof(obj.status) == "undefined"){
        obj.status = false;
    }
	w.memberstatus = obj.status;
	w.rawauthobj = obj;
	w.logged = obj.logged;
	var html = "";
	if (obj.logged){
		//console.log(obj.priv.length);
		if (obj.priv.length > 0){
			//has at least 1 product
			w.memberstatus = true;
		} else {
			w.memberstatus = false;
		}
        w.username = obj.name;
		html += "<div class=\"member_login\">Welcome " + obj.name + "</div>";
		html += "<a href=\"https://{{ amember_url }}/member/index\" class=\"create_account mt5\" style=\"float:left;\">My Account</a>";
		html += "<a href=\"https://{{ amember_url }}/login/logout\" class=\"btn_logout mt5 ml8\" style=\"float:left;\">Logout</a>";
		if (w.memberstatus == false){
			html += "<div class=\"member_login\" style=\"color:red\">Your account membership payment is past due</div>";
		}
	} else {
		html += "<form action=\"https://{{ amember_url }}/login\" method=\"post\" name=\"header_login\" title=\"Registration\">";
		html += "<div class=\"member_login\"><span></span>Member Login</div>";
		html += "<div class=\"clearfix mt5\">";
		html += "<input name=\"amember_login\" type=\"text\" value=\"UserName\" size=\"35\" maxlength=\"80\" class=\"login_input\" title=\"Enter user name\" onfocus=\"if(this.value=='UserName'){this.value=''}else{this.value=this.value}\" onblur=\"if(this.value==''){this.value='UserName'}\" />";
		html += "<a class=\"btn_login mt1\" onclick='dologin()'>Login</a>";
		html += "</div>";
		html += "<div class=\"clearfix mt3\">";
		//html += "<input name = \"amember_redirect_url\" type=\"hidden\" value=\"http://dev.getaudiofromvideo.com/\" />";
		html += "<input name=\"amember_pass\" type=\"password\" onkeypress=\"if(event.keyCode == 13){dologin();}\" value=\"Password\" size=\"35\" maxlength=\"80\" class=\"login_input\" title=\"Enter you password\" onfocus=\"if(this.value=='Password'){this.value=''}else{this.value=this.value}\" onblur=\"if(this.value==''){this.value='Password'}\" />";
		html += "<a href=\"https://{{ amember_url }}/signup/index\" class=\"btn_logout mt1\">Signup</a>";
		html += "</div></form>";
	}
	loadhtmlintologin(html);
	//d.getElementById("login_box").innerHTML = html;
};


var loadhtmlintologin = function(html){
	var loginarea = document.getElementById("login_box");
	if (loginarea != null){
		loginarea.innerHTML = html;
	} else {
		setTimeout(function(){loadhtmlintologin(html)}, 100);
	}
};

	var d = document;
	var head= d.getElementsByTagName('head')[0];
   	var script= d.createElement('script');
   	script.type= 'text/javascript';
   	script.src= "https://{{ amember_url }}/testajax.php";
   	head.appendChild(script);
/* ]]> */
	</script>

<script type="text/javascript">
/* <![CDATA[ */
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8374148-1']);
  _gaq.push(['_setDomainName', 'getaudiofromvideo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
/* ]]> */
</script>

	
	{% block pagespecifichead %}
	<title>Convert YouTube To MP3. YouTube MP3 Converter. Download YouTube Videos</title>
	<meta name="description" content="Convert YouTube to MP3. Convert YouTube videos in seconds with our YouTube MP3 converter! All conversions with our YouTube to MP3 converter are 100% online!"/>
	<meta name="keywords" content="convert youtube, convert youtube mp3, convert youtube to mp3, convert youtube videos, youtube mp3 converter, youtube to mp3 converter, converter youtube mp3, converter youtube to mp3"/>
	<meta name="robots" content="index, follow"/>
	{% endblock %}
	
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_10.css?v=4" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/menu.css?v=4" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bundle.css?v=4" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css?v=4" />
<!--	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.simpleSlide.js"></script> -->
           
        
	<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/raw.css" /> -->
	<link rel="stylesheet" media="screen and (max-width:600px)" href="{{STATIC_URL}}css/main_small_device.css?v=4" />
	<link rel="stylesheet" media="screen and (max-width:600px)" href="{{STATIC_URL}}css/menu_small_device.css?v=4" />
	<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" />
	<style type="text/css">
		#d_menu{/*width:852px;*/}
		.ui-progressbar-value {color: #222222;}
	</style>
<!--<script type="text/javascript">$(document).ready( function(){ simpleSlide(); });</script> -->    

{% block othermedia %}

{% endblock %}

</head>
<body>
<!-- HEADER start -->
<div class="bodywrapper" style="min-height:100%">
	<div id="fb-root"></div>
	<div>
		<div class="hdr_top_main">
    		<div class="hdr_top_main2">
        		<div class="hdr_top_inr clearfix">
                	<div class="logo"><a href="/"><img src="/static/img/new/get-audio-from-video.png" alt="Get Audio From Video" title="Convert YouTube To MP3. YouTube MP3 Converter. Download YouTube Videos" /></a></div>

                	<div class="login_box" id="login_box">

                	</div>
            	</div>
        	</div>

    	</div>
    	<!-- <a onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=435,height=500,menubar=no,toolbar=no'); return false;" href='https://getaudiofromvideo.rhinosupport.com/Widgets/Custom/CreateTicket.php' target='_blank' class="contact_us"></a> -->
	</div>

<!-- HEADER end -->
<div class="mainwrapper" style="padding-bottom:190px">
</br>
</br>
<h1 style="padding-top:90px;text-align:center;color:black;">oops! Looks like a mistake was made.</h1>
</br>
</br>
<h3 style="padding-bottom:140px;color:black;text-align:center">We couldn't find the page you were looking for. In a few seconds, you will be redirected to our search page.</h3>

</div>
</div>
<!-- footer start -->
<!--FOOTER-->
<div class="footer">
	<div class="footer_inr">
        <div class="ftr_lft">Copyright &copy; 2014 GetAudioFromVideo.com</div>

        <div class="ftr_rgt">
            <div class="ftr_rgt1">
            {% for p in menu.0 %}
                <a href="{{p.get_absolute_url}}">{{p.get_menu_name}}</a>
            {% endfor %}
            </div>
            <div class="ftr_rgt2">
            {% for p in menu.1 %}
                <a href="{{p.get_absolute_url}}">{{p.get_menu_name}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<!-- footer end -->

</body>
</HTML>
