<!--FOOTER-->
  <div class="footer">
     <div class="container w-1020">
        <div class="row pt-30">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left">
              <div>Copyright &copy; 2014 GetAudioFromVideo.com</div>
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="pull-right">
                 <ul class="list-unstyled ftr_rgt1">
                    {% for p in menu.0 %}
                        <li>
                           <a href="{{p.get_absolute_url}}">{{p.get_menu_name}}</a>
                        </li>
                    {% endfor %}
                 </ul>
                 <ul class="list-unstyled ftr_rgt2">
                    {% for p in menu.1 %}
                        <li>
                            <a href="{{p.get_absolute_url}}">{{p.get_menu_name}}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
              <div class="clearfix"></div>
              <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics" /></a>
           </div>
           <div class="clearfix"></div>
        </div>
     </div>
  </div>
