<div class="hdr_top_main hidden-xs">
    <div class="hdr_top_main2">
       <div class="hdr_top_inr clearfix">
          <div class="container w-1020 p0">
             <nav class="navbar " role="navigation">
                <div class="navbar-header">
                   <div class="logo"><a href="/"><img
                           height="98px" width="360px" class="img-responsive" src="{{ STATIC_URL }}img/new/get-audio-from-video.png" alt="Get Audio From Video" title="Convert YouTube To MP3. YouTube MP3 Converter. Download YouTube Videos" /></a></div>
                </div>
                <div class="navbar-left">
                   <div class="login_box" id="login_box"></div>
                </div>
             </nav>
             <div class="clearfix"></div>
          </div>
       </div>
    </div>
</div>
<div class="nav-mobile">
    <div class="hdr_top_main hidden-sm hidden-md hidden-lg">
       <div class="container w-1020 p0">
          <div>
             <div class="col-xs-3 hidden-sm hidden-md hidden-lg p0">
                <div class="btn-back {% if not hide_back_button %} no-main-page {% endif %} pull-left">
                   <a href="javascript: history.back(-1)" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                </div>
             </div>
             <div class="col-xs-5 hidden-sm hidden-md hidden-lg p0">
                <div class="item-title">
                   <h1>GetAudioFromVideo.com</h1>
                </div>
             </div>
              <div class="col-xs-4 hidden-sm hidden-md hidden-lg p0">
                <div class="navbar-collapse">
                   <div class="pull-right " id="mobile_login_box">
{#                      <div class="btn-group" style="display: none;" >#}
{#                        <button type="button" class="btn create_account dropdown-toggle icon-caret" data-toggle="dropdown">#}
{#                          My Account<span class="caret"></span>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                           <li>#}
{#                              <a href="https://{{ amember_url }}/member/index" data-toggle="modal" class="create_account">#}
{#                                My Account#}
{#                              </a>#}
{#                           </li>#}
{#                           <li>#}
{#                              <a href="https://{{ amember_url }}/login/logout" data-toggle="modal" class="btn_logout" style="float:left;">Logout</a>#}
{#                           </li>#}
{#                        </ul>#}
{#                      </div>#}
                   </div>
                </div>
              </div>
             <div class="clearfix"></div>
          </div>
       </div>
    </div>
 </div>
