		<div id="main_r">
			<p class="abus_text_c">Share Our</p> 
			<p class="abus_text_c">Site!</p>
			<br />
			<div id="d_small_1_abus">
				<div style="display: none;"><img alt="convert youtube" src="http://maps.amung.us/ping/8wti3q7su9xk/Converter%20Youtube%20to%20MP3%20%7C%20Youtube%20to%20MP3%20converter%20within%20seconds%20and%20100%25%20online!" alt="" /></div>
				<object height="59" width="118">
					<param value="http://widgets.amung.us/flash/v2map.swf" name="movie" />
					<param value="transparent" name="wmode" />
					<param value="all" name="allowNetworking" />
					<param value="always" name="allowScriptAccess" />
					<param value="wausitehash=8wti3q7su9xk&amp;map=neosat&amp;pin=target-red&amp;link=yes" name="flashvars" />
					<script type="text/javascript">
	  //<![CDATA[
      document.write('<embed height="59" width="118" flashvars="wausitehash=8wti3q7su9xk&amp;map=neosat&amp;pin=target-red&amp;link=yes" allowscriptaccess="always" allownetworking="all" wmode="transparent" type="application/x-shockwave-flash" src="http://widgets.amung.us/flash/v2map.swf"></embed>');
	  //]]>
	  				</script>
	  			</object>
	  			<br />
	  			<a href="http://whos.amung.us/stats/b21tbo7yic9y/">
                    <img alt="convert youtube" height="15" width="80" border="0" title="Click to see how many people are online" src="http://whos.amung.us/swidget/b21tbo7yic9y/Converter%20Youtube%20to%20MP3%20%7C%20Youtube%20to%20MP3%20converter%20within%20seconds%20and%20100%25%20online!" />
                </a>
            </div>
            <div id="d_small_3_abus">
            	<span id="yahooBuzzBadge-21680622521275503948504" class="yahooBuzzBadge yahooBuzzBadge-square">
            		<a href="http://buzz.yahoo.com/buzz?targetUrl=http%3A%2F%2Fwww.GetAudioFromVideo.com" title="Vote for your favorite stories on Yahoo! Buzz" style="text-decoration: none; width: 51px; display: block;">
            			<span style="cursor: pointer; color: rgb(102, 102, 102); font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; display: block; text-align: center; font-size: 11px; line-height: 20px; padding-top: 5px; background: url(&quot;http://l.yimg.com/ds/orion/1.0.15.23/img/badge-square-bg-en.gif&quot;) no-repeat scroll left top transparent; width: 51px; height: 52px;" id="yahooBuzzBadge-21680622521275503948504-form-votes">
            				<em style="font: 19px georgia,serif; color: rgb(102, 0, 102);">47</em>
            				<br />
            				votes
            			</span>
            			<span style="margin-top: -1px; cursor: pointer; display: block; height: 0pt; padding-top: 25px; width: 51px; text-indent: -999em; overflow: hidden; background: url(&quot;http://l.yimg.com/ds/orion/1.0.15.23/img/badge-square-button-en.gif&quot;) no-repeat scroll left top transparent;">Buzz up!</span>
                    </a>
                </span>
            </div>
            <div id="d_small_4_abus">
            	<script type="text/javascript">
                                (function() {
                                var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
                                s.type = 'text/javascript';
                                s.async = true;
                                s.src = 'http://widgets.digg.com/buttons.js';
                                s1.parentNode.insertBefore(s, s1);
                                })();
                </script>
                <a class="DiggThisButton DiggMedium" href="http://www.getaudiofromvideo.com">
                	<span style="display:none"> Convert Youtube videos to MP3, MP4, 3GP, AVI, FLV, WMV and download to your computer in seconds!</span>
                </a>
            </div>
            <div class="d_small_5_abus">
            	<script type="text/javascript">
		  //<![CDATA[
      document.write('<a name="fb_share" type="box_count" share_url="http://www.getaudiofromvideo.com" href="http://www.facebook.com/sharer.php">Share</a>');
	  //]]>         
          		</script>
          		<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
          	</div>
          	<div id="d_small_6_abus">
          		<iframe height="61" frameborder="0" scrolling="no" width="50" src="http://api.tweetmeme.com/button.js?url=http%3A//www.getaudiofromvideo.com&amp;style=normal"></iframe>
          	</div>
          	<div class="d_small_5_abus">
          		<iframe frameborder="0" scrolling="no" style="border: medium none; overflow: hidden; width: 50px; height: 60px;" src="http://www.stumbleupon.com/badge/embed/5/?url=http://www.getaudiofromvideo.com"></iframe>
          	</div>
        </div>
